@import 'subdir/imported.css';
@import url("chrome://communicator/skin/");


@font-face {
    font-family: 'Font';
    src: url('lib/fonts/webfont.eot?v=4.0.0');
    src: url('lib/fonts/webfont.eot');
}
